Assignment3/mule_tests/.mule/apps/basic_poll_emailer/basic_poll_emailer.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:schedulers="http://www.mulesoft.org/schema/mule/schedulers"
	xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/schedulers http://www.mulesoft.org/schema/mule/schedulers/current/mule-schedulers.xsd
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<smtps:connector name="smtpsConnector" doc:name="SMTP">
		<smtps:tls-client path="clientKeystore"
			storePassword="mulepassword" />
		<smtps:tls-trust-store path="greenmail-truststore"
			storePassword="password" />
	</smtps:connector>
	
	<smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
    <flow name="basic_poll_emailerFlow">

	    <poll doc:name="Poll" frequency="1000">
		    <schedulers:cron-scheduler expression="0 * 14 * * ?"/>
            <watermark variable="polledMessage" default-expression="Zdravstvuyte, o meu nome &#233; Vladimir Putin e gostaria de desejar-lhe um bom dia. Na Zdorov'ye tovarishch!"/>

	    </poll>
	    
		<set-payload value="#[flowVars[&quot;polledMessage&quot;]]" doc:name="Set Payload"/>
   		<smtp:outbound-endpoint host="smtp.gmail.com" port="587" user="is.spammer.2015%40gmail.com" password="vamoster20" connector-ref="Gmail" to="aclspam%40hotmail.com" from="is.spammer" subject="Testing mule email polling" responseTimeout="10000" doc:name="Send notification email"/>

    </flow>
</mule>