Assignment3/assignment3/src/main/app/validate_subscription.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

    <flow name="web_validate_subscription_flow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/smartphones_mailinglist/validate_subscription/" doc:name="HTTP"/>
        <logger message="validate email input: #[message.inboundProperties.'http.query.params'.email]" level="INFO" doc:name="Logger"/>
        <db:update config-ref="MySQL_Configuration" doc:name="Validate email subscription in Database">
            <db:parameterized-query><![CDATA[UPDATE subscriptions SET is_validated = 1 WHERE email = #[message.inboundProperties.'http.query.params'.email];]]></db:parameterized-query>
        </db:update>
        <logger message="validate email output: #[message.payload]" level="INFO" doc:name="Logger"/>
        <set-payload value="'#[message.payload]'" doc:name="Set Payload"/>
        <exception-strategy ref="Global_Catch_Exception_Strategy" doc:name="Reference Exception Strategy"/>
    </flow>

</mule>
