Assignment3/mule_tests/basic_emailer/src/main/app/basic_emailer.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:smtp="http://www.mulesoft.org/schema/mule/smtp" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:spring="http://www.springframework.org/schema/beans"
	xmlns:smtps="http://www.mulesoft.org/schema/mule/smtps" xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/smtps http://www.mulesoft.org/schema/mule/smtps/current/mule-smtps.xsd
http://www.mulesoft.org/schema/mule/smtp http://www.mulesoft.org/schema/mule/smtp/current/mule-smtp.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">

	<smtps:connector name="smtpsConnector" doc:name="SMTP">
		<smtps:tls-client path="clientKeystore"
			storePassword="mulepassword" />
		<smtps:tls-trust-store path="greenmail-truststore"
			storePassword="password" />
	</smtps:connector>
	
	<smtp:gmail-connector name="Gmail" validateConnections="true" doc:name="Gmail"/>
	
    <http:listener-config name="HTTP_Listener_Configuration" host="0.0.0.0" port="8081" doc:name="HTTP Listener Configuration"/>

	<flow name="basic_emailerFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/" doc:name="HTTP"/>
        <set-payload value="#[message.inboundProperties.'http.query.params'.email]" doc:name="Set Payload"/>
        <logger message="lastname: '#[message.inboundProperties.'http.query.params'.email]'" level="INFO" doc:name="Logger"/>
		<smtp:outbound-endpoint host="smtp.gmail.com" port="587" 
			user="is.spammer.2015%40gmail.com" password="vamoster20" 
			to= "#[message.inboundProperties.'http.query.params'.email]" from="is.spammer" 
			subject="Testing mule email" responseTimeout="10000" 
		    connector-ref="Gmail" doc:name="Send notification email"/>
	</flow>
</mule>